<div class="container">
  <div class="container-form">
    <div class="container-avatar">
      <button (click)="changeAvatar('prev')" aria-label="Avatar anterior" class="card-info" tabindex="0">
        ◀
      </button>
      <div class="avatar" aria-label="Icono de avatar" tabindex="0">
        {{selectedAvatar}}
      </div>
      <button (click)="changeAvatar('next')" aria-label="Siguiente avatar" tabindex="0">
        ▶
      </button>
    </div>
    <div class="container-username">
      <input [(ngModel)]="username" maxlength="13" name="username" aria-label="Ingresa tu nombre" placeholder="Ingresa tu nombre"
        required tabindex="0" />
      <button (click)="randomizeAvatar()" aria-label="Avatar aleatorio" tabindex="0">🎲</button>

    </div>

    <div class="container-buttons">
      <button (click)="continueGame()" [disabled]="!username" aria-label="Crear Partida" tabindex="0">
        Crear Partida
      </button>
      <button (click)="showJoinComponent()" [disabled]="!username" aria-label="Unirse a Partida" tabindex="0">
        Unirse a Partida
      </button>
    </div>


    <app-unirse-partida *ngIf="showJoin" (partidaUnida)="onPartidaUnida($event)" [nombreJugador]="username" [avatarJugador]="selectedAvatar"
      [onClose]="handleCloseJoin.bind(this)"></app-unirse-partida>
  </div>

  <!-- info -->
  <div class="container-info">
    <div class="card-info" tabindex="0">
      <h3>❓ Acerca de</h3>
      <p>
        Pictionary es un juego de adivinanzas donde un jugador dibuja y los
        demás intentan adivinar. ¡Diviértete con tus amigos!
      </p>
    </div>
    <div class="card-info" tabindex="0">
      <h3>📰 Noticias</h3>
      <p>
        Mantente informado sobre las últimas actualizaciones, mejoras y
        eventos del juego. ¡No te lo pierdas!
      </p>
    </div>

    <div class="card-info" tabindex="0">
      <h3>✏️ Cómo jugar</h3>
      <p>
        Para comenzar, selecciona "Crear Partida" o "Unirse a Partida", luego
        sigue las instrucciones para jugar.
      </p>
    </div>
  </div>

</div>
