.drawing-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #444;
}

canvas {
    border: 2px solid #444;
    border-radius: 8px;
    background-color: #fff;
}

.canvas-controls {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    /* align-items: center; */
}

.container-controls {
    display: flex;
    gap: 8px;
}

.palette {
    display: flex;
    gap: 5px;
}

.palette button {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.palette button:hover {
    border: 1px solid #fff;
}

input[type="color"] {
    width: 28px;
    height: 28px;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"] {
    width: 130px;
}

.panel-right .chat-box {
    height: 100%;
    background-color: #3a3a3a;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    border: 1px solid #444;
    overflow-y: auto;
}

.letter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 8px;
    padding: 8px;
    background-color: #292929;
    border-radius: 8px;
}

.letter-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3399ff;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
    color: #888;
}