.unirse-partida {
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.unirse-partida h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--warning-color);
}

.unirse-partida .input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: var(--darkBlue-color);
  color: var(--light-text);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.unirse-partida button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.unirse-partida .btn.primary {
  background-color: var(--success-color);
  color: var(--light-text);
}

.unirse-partida .btn.primary:hover {
  background-color: var(--greenBtn-color);
}

.unirse-partida .btn.primary:disabled {
  background-color: var(--secondary-color);
  color: var(--dark-text);
  cursor: not-allowed;
}

.unirse-partida .btn.secondary {
  background-color: var(--secondary-color);
  color: var(--light-text);
}

.unirse-partida .btn.secondary:hover {
  background-color: var(--darkBlue-color);
}