<div class="waiting-contenedor container">
  <form [formGroup]="formOpciones" (ngSubmit)="iniciar()">

    <!-- <div class="campo row">
      <label for="numeroPlayers" class="col-sm-12 col-md-5">
        <i class="bi bi-person-fill" style="font-size: 1.8rem; padding-right: 8px;"></i>
        Jugadores
      </label>
      <div class="col-sm-12 col-md-7">
        <select formControlName="numeroPlayers">
          @for (item of [2,3,4,5,6,7,8,9,10]; track $index) {
          <option [value]="item"> {{item}} </option>
          }
        </select>
      </div>
    </div> -->

    <div class="campo row">
      <label for="tiempoDibujo" class="col-sm-12 col-md-5">
        <i class="bi bi-alarm-fill" style="font-size: 1.8rem;padding-right: 8px;"></i>
        Tiempo de Dibujo
      </label>
      <div class="col-sm-12 col-md-7">
        <select id="tiempoDibujo" formControlName="tiempoDibujo" aria-label="Seleccionar tiempo de dibujo">
          <option *ngFor="let item of [2, 3, 5, 6, 7, 8]" [value]="item"> {{item}} minutos </option>
        </select>
      </div>
    </div>

    <div class="campo row">
      <label for="rondas" class="col-sm-12 col-md-5">
        <i class="bi bi-arrow-repeat" style="font-size: 1.8rem;padding-right: 8px;"></i>
        Número de Rondas
      </label>
      <div class="col-sm-12 col-md-7">
        <select id="rondas" formControlName="rondas" aria-label="Seleccionar número de rondas">
          <option *ngFor="let item of [2, 3, 4, 5, 6]" [value]="item"> {{item}} </option>
        </select>
      </div>
    </div>

    <div class="campo row">
      <label for="palabra" class="col-sm-12 col-md-5">
        <i class="bi bi-pencil" style="font-size: 1.8rem;padding-right: 8px;"></i>
        Seleccionar Palabra
      </label>
      <div class="col-sm-12 col-md-7">
        <button type="button" class="btn btn-primary" aria-label="Seleccionar palabra"
          (click)="mostrarSelectWordComponent()">Seleccionar</button>
      </div>
    </div>


    <!-- <div class="campo row">
      <label for="ayudas" class="col-sm-12 col-md-5">
        <i class="bi bi-info" style="font-size: 1.8rem;padding-right: 8px;"></i>
        Ayudas
      </label>
      <div class="col-sm-12 col-md-7">
        <select formControlName="ayudas">
          @for (item of [0,1,2,3,4]; track $index) {
          <option [value]="item"> {{item}} </option>
          }
        </select>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12 col-md-8 p-0">
        <button type="button" class="boton-iniciar" aria-label="Iniciar la partida"
          (click)="iniciar()">¡Iniciar!</button>
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <button type="button" class="boton-invitar" aria-label="Invitar a otros jugadores"
          (click)="copyToClipboard()">Invitar</button>
      </div>
    </div>
    <div *ngIf="modalMessage" class="alert alert-success mt-3" role="alert">
      {{ modalMessage }}
    </div>
  </form>


  <!-- Componente SelectWordComponent -->
  <div *ngIf="mostrarSelectWord" class="overlay">
    <app-select-word-page (cerrar)="cerrarSelectWordComponent()"></app-select-word-page>
  </div>