.waiting-contenedor {
  height: 100%;
  padding: 20px;
  background-color: var(--dark-bg);
  color: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting-contenedor form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.campo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
}

.campo label {
  flex: 1;
  font-size: 1.1rem;
  margin-right: 10px;
}

.campo select {
  cursor: pointer;
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 2;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.row .col-sm-12 {
  flex: 1;
  padding: 0 10px;
}

.boton-iniciar,
.boton-invitar {
  width: 100%;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.boton-iniciar:hover,
.boton-invitar:hover {
  opacity: 0.8;
}

.boton-invitar {
  background-color: var(--lightBlue-color);
}

.boton-iniciar {
  background-color: var(--success-color);
}

.alert {
  width: 100%;
  text-align: center;
}

select:disabled,
button:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  cursor: not-allowed;
  box-shadow: none;
}

select:disabled {
  border: 1px solid #ccc;
}

button:disabled {
  opacity: 0.6;
}