<div class="waiting-contenedor container">
  <form [formGroup]="formOpciones" (ngSubmit)="iniciar()">

    <div class="campo row">
      <label for="numeroPlayers" class="col-sm-12 col-md-5" tabindex="0">
        <i class="bi bi-person-fill" style="font-size: 1.8rem; padding-right: 8px;"></i>
        Jugadores
      </label>
      <div class="col-sm-12 col-md-7">
        <select formControlName="numeroPlayers" tabindex="0">
          @for (item of [2,3,4,5,6,7,8,9,10]; track $index) {
          <option [value]="item"> {{item}} </option>
          }
        </select>
      </div>
    </div>

    <div class="campo row">
      <label for="tiempoDibujo" class="col-sm-12 col-md-5" tabindex="0">
        <i class="bi bi-alarm-fill" style="font-size: 1.8rem;padding-right: 8px;"></i>
        Tiempo de Dibujo
      </label>
      <div class="col-sm-12 col-md-7">
        <select id="tiempoDibujo" formControlName="tiempoDibujo" aria-label="Seleccionar tiempo de dibujo" tabindex="0">
          <option *ngFor="let item of [2, 3, 5, 6, 7, 8]" [value]="item"> {{item}} minutos </option>
        </select>
      </div>
    </div>

    <div class="campo row">
      <label for="rondas" class="col-sm-12 col-md-5" tabindex="0">
        <i class="bi bi-arrow-repeat" style="font-size: 1.8rem;padding-right: 8px;"></i>
        Número de Rondas
      </label>
      <div class="col-sm-12 col-md-7">
        <select id="rondas" formControlName="rondas" aria-label="Seleccionar número de rondas" tabindex="0">
          <option *ngFor="let item of [2, 3, 4, 5, 6]" [value]="item"> {{item}} </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 p-0">
        <button type="button" class="boton-iniciar" aria-label="Iniciar la partida" (click)="iniciar()" tabindex="0"
          [disabled]="!esEditable" accesskey="i">¡Iniciar!</button>
      </div>
      <div class="col-sm-12 col-md-4 p-0">
        <button type="button" class="boton-invitar" aria-label="Invitar a otros jugadores" (click)="copyToClipboard()"
          tabindex="0" [disabled]="!esEditable" accesskey="v">Invitar</button>
      </div>
    </div>
    <div *ngIf="modalMessage" class="alert alert-success mt-3" role="alert">
      {{ modalMessage }}
    </div>
  </form>
</div>