.panel-left,
.center-panel,
.panel-right {
  background-color: white;
  height: 580px;
  border-radius: 4px;
}

/* .panel-left .player-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
 */
/* .panel-left .player-card {
  display: flex;
  justify-content: space-between;
  background-color: #3a3a3a;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
}
 */



.panel-left .player-card {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  align-items: center;
}

.panel-left .player-card .player-name {
  font-weight: bold;
}

.panel-left .player-card .player-score {
  color: #6c757d;
}



.panel-right .chat-box {
  height: 530px;
  overflow-y: auto;
}

.mensaje-ingreso {
  color: #105B06;
}

.mensaje-par {
  background: #ececec;
}

.palabra-adivinada {
  color: #105B06;
  background: #cefac8;
}

.mensaje-par.palabra-adivinada {
  color: #105B06;
  background: #cefac8;
}



.boton-sin-estilos {
  background-color: white;
  border: none;
}