<div class="container">
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="timer">🕒 Ronda 1 de 3</div>
    <div class="current-word">Dibuja esto: <span class="word"> {{palabraAdivinar}} </span></div>
    <div class="settings-icon">⚙️</div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Left Panel: Player List -->
    <div class="panel-left">
      <div *ngFor="let jugador of jugadores" class="player-card">
        <span class="player-name">{{ jugador }}</span>
        <span class="player-score">0 puntos</span>
      </div>
    </div>

    <!-- Center Panel -->
     <div class="central-panel">
        @if (pantallaEspera) {
          <!-- Pantalla de espera -->
          <app-espera></app-espera>
        }@else{
          <!-- Drawing Area -->
          <app-drawing-area [codigoPartida]="codigoPartida"></app-drawing-area>
        }
     </div>

    <!-- Right Panel: Chat -->
    <div class="panel-right">
      <div class="chat-box">
        @for (mensaje of mensajes; track $index) {
        <div class="p-2" [ngClass]="{
              'palabra-adivinada': mensaje.mensaje === 'ha adivinado la palabra',
              'mensaje-par': $index % 2 === 0,
          }">
          @if (mensaje.mensaje === 'ha creado la partida' || mensaje.mensaje === 'ha ingresado a la partida') {
          <p class="mensaje-ingreso m-0">{{mensaje.nombre_jugador}} {{ mensaje.mensaje }} </p>
          } @else if(mensaje.mensaje === 'ha adivinado la palabra') {
          <p class="m-0">{{mensaje.nombre_jugador}} {{ mensaje.mensaje }} </p>
          }@else if(mensaje.mensaje === 'esta dibujando') {
          <p class="m-0 text-primary">{{mensaje.nombre_jugador}} {{ mensaje.mensaje }} </p>
          } @else {
          <p class="m-0">{{mensaje.nombre_jugador}}: {{ mensaje.mensaje }}</p>

          }
        </div>
        }
      </div>
      <input type="text" [(ngModel)]="mensajeChat" class="input m-1" placeholder="Escribe aquí" />
      <button class="enviar-mensaje" (click)="enviarMensajeChat()">Enviar</button>
    </div>


  </div>
</div>
