.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  color: black;
  font-family: Arial, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #292929;
  border-bottom: 1px solid #444;
  font-size: 0.9rem;
}

.main-content {
  margin-top: 8px;
  display: flex;
  flex: 1;
  gap: 8px;
}

.panel-left,
.panel-right {
  flex: 0.5;
  background-color: white;
  border-radius: 8px;
  overflow-y: auto;
}

.panel-left .player-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.panel-left .player-card {
  display: flex;
  justify-content: space-between;
  background-color: #3a3a3a;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.panel-right .chat-box {
  height: 540px;
  margin-bottom: 5px;
  overflow-y: auto;
}

.mensaje-ingreso {
  color: #105B06;
}

.mensaje-par {
  background: #ececec;
}

.palabra-adivinada {
  color: #105B06;
  background: #cefac8;
}

.mensaje-par.palabra-adivinada {
  color: #105B06;
  background: #cefac8;
}

.input {
  width: 130px;
  border-radius: 5px;
}

.enviar-mensaje{
  padding: 3px 5px;
}

.central-panel{
  flex: 1;
  background-color: white;
  border-radius: 4px;
}
