<div class="container">
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="timer">🕒 Ronda 1 de 3</div>
    <div class="current-word">Dibuja esto: <span class="word"> {{palabraAdivinar}} </span></div>
    <div class="settings-icon">⚙️</div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Left Panel: Player List -->
    <div class="panel-left">
      <div *ngFor="let jugador of jugadores" class="player-card">
        <span class="player-name">{{ jugador }}</span>
        <span class="player-score">0 puntos</span>
      </div>
    </div>

    <!-- Center Panel: Drawing Area -->
    <div class="drawing-area">
      <canvas id="canvas" width="600" height="400" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)" (mouseleave)="onMouseLeave($event)"></canvas>
      <div class="canvas-controls">
        <!-- Selección de color -->
        <div class="palette">
          <button style="background-color: #ff0000;" (click)="setColor('#ff0000')"></button>
          <button style="background-color: #00ff00;" (click)="setColor('#00ff00')"></button>
          <button style="background-color: #0000ff;" (click)="setColor('#0000ff')"></button>
          <button style="background-color: #000000;" (click)="setColor('#000000')"></button>
          <input type="color" (change)="handleColorChange($event)" />
        </div>
        <!-- Tamaño de pincel -->
        <input type="range" min="1" max="20" value="5" (input)="changeBrushSize($event)" />
        <!-- Controles básicos -->
        <button (click)="useEraser()">✏️ Borrar</button>
        <button (click)="undo()">↩️ Deshacer</button>
        <button (click)="redo()">↪️ Rehacer</button>
      </div>
    </div>

    <!-- Right Panel: Chat -->
    <div class="panel-right">
      <div class="chat-box">
        @for (mensaje of mensajes; track $index) {
        <div class="p-2" [ngClass]="{
              'palabra-adivinada': mensaje.mensaje === 'ha adivinado la palabra',
              'mensaje-par': $index % 2 === 0,
          }">
          @if (mensaje.mensaje === 'ha creado la partida' || mensaje.mensaje === 'ha ingresado a la partida') {
          <p class="mensaje-ingreso m-0">{{mensaje.nombre_jugador}} {{ mensaje.mensaje }} </p>
          } @else if(mensaje.mensaje === 'ha adivinado la palabra') {
          <p class="m-0">{{mensaje.nombre_jugador}} {{ mensaje.mensaje }} </p>
          }@else if(mensaje.mensaje === 'esta dibujando') {
          <p class="m-0 text-primary">{{mensaje.nombre_jugador}} {{ mensaje.mensaje }} </p>
          } @else {
          <p class="m-0">{{mensaje.nombre_jugador}}: {{ mensaje.mensaje }}</p>

          }
        </div>
        }
      </div>
      <input type="text" [(ngModel)]="mensajeChat" class="input m-1" placeholder="Escribe aquí" />
      <button class="enviar-mensaje" (click)="enviarMensajeChat()">Enviar</button>
    </div>


  </div>
</div>
