.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro */
    z-index: 1050;
  }

  .modal-dialog {
    background: #2c2c2c; /* Fondo oscuro */
    border-radius: 8px;
    padding: 20px;
    color: white; /* Texto blanco */
  }

  input[type="range"] {
    width: 100%;
    margin-bottom: 10px; /* Espacio para el porcentaje */
    accent-color: #1e90ff; /* Color azul para la barra */
  }

  .modal-content{
    background: #2c2c2c; /* Fondo oscuro */
    border-radius: 8px;
    padding: 0px;
    color: white; /* Texto blanco */
  }

  .volume-percentage {
    text-align: center;
    color: white; /* Texto blanco */
    font-size: 1.2em; /* Tamaño del texto */
  }

  .modal-header h5 {
    color: #fff;
  }

  .btn-secondary {
    background-color: #444; /* Botón oscuro */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-secondary:hover {
    background-color: #555; /* Oscurecer un poco más al pasar el mouse */
  }

  .close span {
    color: white; /* Cruz blanca */
  }