<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Control de Volumen</h5>
      </div>
      <div class="modal-body">
        <label for="volumeRange">Volumen:</label>
        <input 
          id="volumeRange" 
          type="range" 
          min="0" 
          max="1" 
          step="0.01" 
          [value]="currentVolume" 
          (input)="onVolumeChange($event)" />
        <div class="volume-percentage">{{ (currentVolume * 100) | number: '1.0-0' }}%</div>

        <!-- Switch para activar/desactivar sonido -->
        <div class="form-check form-switch mt-3">
          <input 
            class="form-check-input" 
            type="checkbox" 
            id="musicSwitch" 
            [checked]="isMusicPlaying" 
            (change)="toggleMusicState()" />
          <label class="form-check-label" for="musicSwitch">
            {{ isMusicPlaying ? 'Música Encendida' : 'Música Apagada' }}
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
