<div class="container-results" *ngIf="jugadores && jugadores.length > 0">
    <ul>
        <li *ngFor="let jugador of jugadores; let i = index" tabindex="0" aria-label="Jugador">
            <span attr.aria-label="Posición: {{i + 1}}">{{i + 1}}</span>
            <span attr.aria-label="Avatar: {{jugador.avatar}}">{{jugador.avatar}}</span>
            <span attr.aria-label="Nombre: {{jugador.nombre}}">{{jugador.nombre}}</span>
            <span attr.aria-label="Puntaje: {{jugador.puntaje}}">{{jugador.puntaje}}</span>
        </li>
    </ul>
</div>