<div class="app-container d-flex flex-column min-vh-100 bg-dark text-light">
  <!-- Header -->
  <header class="app-header bg-primary py-3 shadow-sm">
    <div class="container text-center">
      <h1 class="display-4 text-white fw-bold">JuegoEducación cultural y artistica</h1>
      <p class="lead text-light">¡Dibuja, aprende y adivina con tus amigos en tiempo real!</p>
      <!-- Reproductor de música de fondo (oculto) -->
      <div>
        <audio #backgroundAudio src="assets/puzzle-game-bright-casual-video-game-music-249202.mp3"></audio>
      </div>
            <!-- Botón con estilos minimalistas -->
            <button
              class="btn position-fixed end-0 top-0 p-3 m-3"
              style="font-size: 1.5rem; border-radius: 50%; background-color: transparent; border: none; color: black;"
              (click)="openModal()">
              <i class="bi bi-gear-fill"></i>
            </button>


      <!-- Modal para controlar el volumen -->
      <app-audio-modal
        *ngIf="isModalOpen"
        [isMusicPlaying]="isMusicPlaying"
        [currentVolume]="currentVolume"
        (close)="closeModal()"
        (volumeChange)="setVolume($event)"
        (toggleMusic)="toggleBackgroundMusic($event)">
      </app-audio-modal>
    </div>
  </header>

  <!-- Main Content -->
  <main class="app-main flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="container">
      <br>
      <br>
      <router-outlet></router-outlet>
      <br>
    </div>
  </main>

  <!-- Footer -->
  <footer class="app-footer bg-secondary py-3 text-center">
    <div class="container">
      <p class="mb-0">
        &copy; 2023 <strong>Soft-fred</strong>. Todos los derechos reservados.
      </p>
      <p class="small">
        Diseñado para ofrecer la mejor experiencia multijugador.
      </p>
    </div>
  </footer>
</div>
