<div class="w-100 min-vh-100 d-flex flex-column">
  <!-- Header -->
  <header class="app-header bg-custom-primary py-3 ">
    <div class="d-flex align-items-center justify-content-center gap-2 container text-center">
      <h1 class="display-4 text-white fw-bold">Pincelada</h1>
    </div>
  </header>

  <!-- Main Content -->
  <main class="flex-grow-1 d-flex">
    <!-- <main> -->
    <router-outlet></router-outlet>
  </main>
  <!-- Footer -->
  <footer class="app-footer bg-secondary py-3 text-center">
    <div class="container">
      <p class="mb-0">
        &copy; 2023 <strong>Soft-fred</strong>. Todos los derechos reservados.
      </p>
      <p class="small">
        Diseñado para ofrecer la mejor experiencia multijugador.
      </p>
    </div>
  </footer>
</div>