<div class="overlay" role="dialog" aria-labelledby="selectWordTitle" aria-modal="true">
  <div class="container">
    <h1 id="selectWordTitle" tabindex="-1">Elige una Palabra</h1>
    <div id="opciones-container">
      <div *ngFor="let opcion of opciones" class="opcion" tabindex="0" (keydown.enter)="seleccionarPalabra(opcion.palabra)">
        <img [src]="opcion.imagen" alt="" class="opcion-imagen"> <!-- Imagen decorativa sin alt -->
        <h2 class="opcion-titulo">{{ opcion.palabra }}</h2>
        <p class="opcion-descripcion">{{ opcion.descripcion }}</p>
        <button (click)="seleccionarPalabra(opcion.palabra)" class="btn btn-primary">Elegir</button>
      </div>
    </div>
    <button class="btn btn-secondary cerrar" (click)="cerrarModal()" aria-label="Cerrar diálogo">Cerrar</button>
  </div>
</div>
